<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container py-2">
        <a class="navbar-brand fw-semibold" href="#">Eduardo Padilha</a>
        <button (click)="colapsarNavBar = !colapsarNavBar" class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="colapsarNavBar ? 'show' : ''">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </div>
        </div>
    </div>
</nav>

<section class="mt-5" id="sobre">
    <div class="container">
        <div class="d-flex justify-content-center">
            <img style="width: 200px;" class="img-fluid rounded-pill" src="/foto-perfil.jpg" alt="Foto de Eduardo">
        </div>

        <h2 class="display-5 fw-semibold text-center mt-5">Sobre mim...</h2>

        <div class="row flex-wrap mt-5">
            <div class="col-lg">
                <h3 class="fs-3">Meu nome é Eduardo Padilha, sou desenvolvedor Full Stack</h3>

                <p class="fs-5 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod excepturi ratione deserunt nam architecto earum unde sint optio aspernatur fugiat eius fugit praesentium atque, ad id. Ea similique laboriosam error?</p>

                <p class="fs-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nostrum vitae exercitationem? Et modi pariatur quisquam culpa maiores sed placeat corrupti architecto assumenda obcaecati! Fugiat nihil eum molestiae debitis ipsa!</p>
            </div>
            
            <div class="col">   
                <ul class="list-group">
                    <li class="list-group-item py-3">
                        <strong>Nome: </strong>João Eduardo Cardoso Padilha
                    </li>
                    <li class="list-group-item py-3">
                        <strong>Email: </strong> 
                        <a href="mailto:duducardoso2701@gmail.com">duducardoso&#64;gmail.com</a>
                    </li>
                    <li class="list-group-item py-3">
                        <strong>Idade:</strong> 20 anos
                    </li>
                    <li class="list-group-item py-3">
                        <strong>Cidade:</strong> Lages, SC
                    </li>
                </ul>

                <div class="d-flex justify-content-center align-items-center gap-3 mt-3">
                    <a
                      rel="noopener"
                      target="_blank"
                      href="https://github.com/joaoeduardo2701"
                      aria-label="GitHub"
                      class="text-dark"
                    >
                      <i class="bi bi-github fs-1"></i>
                    </a>
                    <a
                      rel="noopener"
                      target="_blank"
                      href="https://www.linkedin.com/in/eduardoc-padilha/"
                      aria-label="Linkedin"
                      class="text-dark"
                    >
                      <i class="bi bi-linkedin fs-1"></i>
                    </a>
          
                    <a
                      rel="noopener"
                      href="https://api.whatsapp.com/send?phone=5549999664798&text&type=phone_number&app_absent=0"
                      target="_blank"
                      aria-label="Whatsapp"
                      class="text-dark"
                    >
                      <i class="bi bi-whatsapp fs-1"></i>
                    </a>
                    
                  </div>
            </div>
        </div>
    </div>
</section>

<section id="habilidades" class="app-background-escuro d-flex justify-content-center align-items-center">
    <div class="container">

        <h2 class="display-5 fw-bold text-center">Minhas habilidades</h2>

        <div class="row row-cols-1 row-cols-lg-2 g-3 mt-5">

            <div class="d-flex align-items-center gap-4">
                <span>
                <i class="bi bi-window-fullscreen fs-1"></i>
                </span>

                <div class="d-flex flex-column">
                    <label class="fs-4 fw-semibold">Web Design</label>
                    <small class="fs-5">Design e desenvolvimento de sistemas web atraentes e responsivos.</small>
                </div>

            </div>

            <div class="d-flex align-items-center gap-4">
                <span>
                <i class="bi bi-server fs-1"></i>
                </span>

                <div class="d-flex flex-column">
                    <label class="fs-4 fw-semibold">Aplicações Back-End</label>
                    <small class="fs-5">Desenvolvimento de sistemas robustos para solucionar problemas simples ou complexos.</small>
                </div>
            </div>

            <div class="d-flex align-items-center gap-4">
                <span>
                <i class="bi bi-graph-up fs-1"></i>
                </span>

                <div class="d-flex flex-column">
                    <label class="fs-4 fw-semibold">Testes Automatizados</label>
                    <small class="fs-5">Criação de testes automatizados que facilitam a manutenção e melhoram as entregas das aplicações.</small>
                </div>
            </div>

            <div class="d-flex align-items-center gap-4">
                <span>
                <i class="bi bi-wrench fs-1"></i>
                </span>

                <div class="d-flex flex-column">
                <label class="fs-4 fw-semibold">Engenharia de Software</label>
                <small class="fs-5">Planejamento e execução de sistemas multi-camadas, integrando várias tecnologias de forma organizada e escalável.</small>
                </div>
            </div>

            <div class="d-flex align-items-center gap-4">
                <span>
                <i class="bi bi-people fs-1"></i>
                </span>

                <div class="d-flex flex-column">
                    <label class="fs-4 fw-semibold">Liderança</label>
                    <small class="fs-5">Habilidade de liderar e tomar decisões técnicas em projetos emequipe.</small>
                </div>
            </div>

            <div class="d-flex align-items-center gap-4">
                <span>
                <i class="bi bi-building-up fs-1"></i>
                </span>

                <div class="d-flex flex-column">
                    <label class="fs-4 fw-semibold">Implantação</label>
                    <small class="fs-5">Implantação e manutenção de sistemas em servidores VPS e em nuvem.</small>
                </div>
            </div>

        </div>
    </div>
</section>

<footer class="mt-3 py-3">
    <hr>
    <div class="container">
      <p class="text-center mb-0">
        Copyright © 2024 <span class="fw-semibold">Eduardo Padilha</span>. Todos os
        direitos reservados.
      </p>
    </div>
</footer>
