<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container py-2">
        <a class="navbar-brand fw-semibold" href="#">Eduardo Padilha</a>
        <button (click)="colapsarNavBar = !colapsarNavBar" class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="colapsarNavBar ? 'show' : ''">
            <div class="navbar-nav ms-auto">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </div>
        </div>
    </div>
</nav>

<section class="mt-5" id="sobre">
    <div class="container">
        <div class="d-flex justify-content-center">
            <img style="width: 200px;" class="img-fluid rounded-pill" src="/foto-perfil.jpg" alt="Foto de Eduardo">
        </div>

        <h2 class="display-5 fw-semibold text-center mt-5">Sobre mim...</h2>

        <div class="row flex-wrap mt-5">
            <div class="col-lg">
                <h3 class="fs-3">Meu nome é Eduardo Padilha, sou desenvolvedor Full Stack</h3>

                <p class="fs-5 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod excepturi ratione deserunt nam architecto earum unde sint optio aspernatur fugiat eius fugit praesentium atque, ad id. Ea similique laboriosam error?</p>

                <p class="fs-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga nostrum vitae exercitationem? Et modi pariatur quisquam culpa maiores sed placeat corrupti architecto assumenda obcaecati! Fugiat nihil eum molestiae debitis ipsa!</p>
            </div>
            
            <div class="col">   
                <ul class="list-group">
                    <li class="list-group-item py-3">
                        <strong>Nome: </strong>João Eduardo Cardoso Padilha
                    </li>
                    <li class="list-group-item py-3">
                        <strong>Email: </strong> 
                        <a href="mailto:duducardoso2701@gmail.com">duducardoso&#64;gmail.com</a>
                    </li>
                    <li class="list-group-item py-3">
                        <strong>Idade:</strong> 20 anos
                    </li>
                    <li class="list-group-item py-3">
                        <strong>Cidade:</strong> Lages, SC
                    </li>
                </ul>

                <div class="d-flex justify-content-center align-items-center gap-3 mt-3">
                    <a
                      rel="noopener"
                      target="_blank"
                      href="https://github.com/joaoeduardo2701"
                      aria-label="GitHub"
                      class="text-dark"
                    >
                      <i class="bi bi-github fs-1"></i>
                    </a>
                    <a
                      rel="noopener"
                      target="_blank"
                      href="https://www.linkedin.com/in/eduardoc-padilha/"
                      aria-label="Linkedin"
                      class="text-dark"
                    >
                      <i class="bi bi-linkedin fs-1"></i>
                    </a>
          
                    <a
                      rel="noopener"
                      href="https://api.whatsapp.com/send?phone=5549999664798&text&type=phone_number&app_absent=0"
                      target="_blank"
                      aria-label="Whatsapp"
                      class="text-dark"
                    >
                      <i class="bi bi-whatsapp fs-1"></i>
                    </a>
                    
                  </div>
            </div>
        </div>
    </div>
</section>

<footer class="mt-3 py-3">
    <hr>
    <div class="container">
      <p class="text-center mb-0">
        Copyright © 2024 <span class="fw-semibold">Eduardo Padilha</span>. Todos os
        direitos reservados.
      </p>
    </div>
  </footer>
